.formControl.error input,
.formControl.error textarea {
    border: 2px solid #BB3535;
}

.formControl.error span {
    color: #BB3535;
}

.formSummaryError {
    border: 2px solid #BB3535;
    padding: 5px;
    color: #BB3535;
}

.fieldContainer {
    display: flex;
    margin: 10px 0;
}

.field {
    padding: 5px;
    min-width: 250px;
    font-size: 1.13rem;
}

.checkbox {
    margin-right: 5px;
}