.formControl.error input,
.formControl.error textarea {
    border: 2px solid #BB3535;
}

.formControl.error span {
    color: #BB3535;
}

.formSummaryError {
    border: 2px solid #BB3535;
    padding: 5px;
    color: #BB3535;
}