.descriptionBlock {
  padding: 10px;
}

.avatarBlock {
  display: flex;
  flex-direction: column;
}

.customUploadButton {
  align-self: flex-start;
  padding: 5px 10px;
  background-color: #AA8639;
  color: #423075;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px 0;
}

.uploadButton {
  display: none;
}

.profileImage {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.profilePhoto {
  border-radius: 6px;
  box-shadow: 0 0 5px 0 #246068;
  max-width: 200px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  margin-left: 15px;
}