.descriptionBlock {
  padding: 10px;
}

.profileImage {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.profilePhoto {
  border-radius: 6px;
  box-shadow: 0 0 10px 0 #246068;
}