.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: #aa8639;
}

.dialog {
  margin: 5px 0;
}

.dialog a {
  text-decoration: none;
  color: #b6d3d8;
  font-weight: 600;
}

.messages {
  padding: 10px;
}

.message {
  margin: 5px 0;
}
